@charset "UTF-8";

/* .demo{
    text-align: right;
    font-size: larger;
} */

#main-content{
    background-color: #f1f1f1;
}

#panel-body {
    --tw-bg-opacity: 1;
    padding: 1.5rem;
    position: relative;
}

#panel-body, .panel_s {
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-radius: 0.375rem;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#navbar {
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 5px #ccc;
  }
  

#row {
    margin-right: -15px;
    margin-left: -15px;
}

#input-group{
    padding: 6px 42.5px 6px 40px;
    display: flex;
    align-items: center;
}


a.ar_list{
    text-decoration: none;
    color: black;
}
a.ar_list:hover{
    color: rgb(241, 108, 32);
}
.related_list{
    list-style: none;  
    border-bottom: 1px solid rgb(109, 109, 109);  
    padding: 10px 0px;        
    margin-left: -30px;
}
