@charset "UTF-8";

.language-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #ffffff;
}

.workspace-btn {
    height: auto !important;
    border-bottom: 2px solid #f16c20;
    color: #0d3c55 !important;
    padding: 5px 20px !important;
}

.sidebar-menu .dropdown-menu {
    background-color: #e9ecef;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 30px;
}

.sticky-note-bg-info {
    background: #cfc;
}

.sticky-note-bg-warning {
    background: #ffc;
}

.sticky-note-bg-danger {
    background: #fcc;
}

.sticky-notes,
.sticky-note {
    list-style: none;
}

.sticky-notes {
    overflow: hidden;
    padding: 2em;
}

.sticky-notes .sticky-note .sticky-content {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 1em;
    overflow-wrap: break-word;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.3);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.3);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

.sticky-notes .sticky-note {
    margin-top: 1em;
    margin-bottom: 1em;
    /*float:left;*/
}

.sticky-notes .sticky-note:nth-child(even) .sticky-content {
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    position: relative;
    top: 5px;
}

.sticky-notes .sticky-note:nth-child(3n) .sticky-content {
    -o-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    position: relative;
    top: -5px;
}

.sticky-notes .sticky-note:nth-child(5n) .sticky-content {
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    position: relative;
    top: -10px;
}

.sticky-notes .sticky-note .sticky-content:hover,
.sticky-notes .sticky-note .sticky-content:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.05);
    position: relative;
    z-index: 5;
}

.sticky-notes .sticky-note .sticky-content i {
    font-size: 12px;
    float: right;
    vertical-align: top;
    padding: 6px;
    cursor: pointer;
}

.selectize-control {
    width: 100%;
}

.dropdown-width {
    width: 250px;
}

@keyframes typing-sprite {
    to {
        background-position: -240px;
    }
}

#canvas {
    height: 20rem;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
    display: none;
}



.user-avtar {
    background: #e1ebff;
    text-align: center;
    line-height: 100px;
    font-size: 55px;
    color: #777777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    float: left;
    width: 100px;
    margin: -35px -5px 0 30px;
    position: relative;
    z-index: 1;
}

.user-avtar-project {
    background: #e1ebff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #777777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    width: 40px;
    height: 40px;
}

.typing-loader {
    display: inline-block;
    width: 11px;
    height: 3px;
    flex-basis: 11px;
    background-image: url(../img/typing-loader.png);
    background-repeat: no-repeat;
    animation: 1s steps(15) 0s infinite normal none typing-sprite;
    margin: 0px 0px 3px 0px;
}



.board .dropdown-toggle {
    outline: none;
}

.board .dropdown-toggle:after {
    display: none;
}

.board {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.tasks.tasks:not(:last-child) {
    margin-right: 1.25rem;
}

.tasks {
    display: inline-block;
    width: 22rem;
    padding: 0 1rem 1rem 1rem;
    border: 1px solid #e3eaef;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 0.25rem;
}

.tasks .task-header {
    background-color: #fff;
    color: #78828a;
    padding: 1rem;
    margin: 0 -1rem;
    font-weight: bold;
}

.task-list-items {
    min-height: 100px;
    position: relative;
}

.task-list-items:before {
    content: "No Tasks";
    position: absolute;
    line-height: 110px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.tasks .card {
    white-space: normal;
    margin-top: 1rem;
}

.select2-container {
    display: block !important;
    width: 100% !important;
}

.projects-badge {
    padding: 4px 6px !important;
    font-size: 14px !important;
}

.no-shadow {
    box-shadow: none !important;
}

.bg-mid-dark {
    background-color: #34395e !important;
}



.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: text !important;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow: hidden;
}

.chat-theme-light .chat-files {
    text-align: center;
    display: grid;
    grid-template-areas: "img file file file size size";
    grid-gap: 10px;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 10px;
    color: black;
    margin: 1px;
}

.chat-theme-dark .chat-files {
    text-align: center;
    display: grid;
    grid-template-areas: "img file file file size size";
    grid-gap: 10px;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 10px;
    color: black;
    margin: 1px;
}

.chat-files-search {
    text-align: center;
    display: grid;
    grid-template-areas: "img file file file size fa-download";
    grid-gap: 10px;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 10px;
    color: black;
    margin: 1px;
}

.chat-theme-light .chat-image-view {
    position: relative;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 5px;
    color: black;
    margin: 1px;
}

.chat-theme-light .msg_text_media {
    display: grid;
}

.chat-theme-dark .chat-image-view {
    position: relative;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 5px;
    color: black;
    margin: 1px;
}

.chat-theme-dark .msg_text_media {
    display: grid;
}

.chat-theme-light .download-btn-styling {
    background: #27ab45;
    color: black;
    padding: 7px;
    border-radius: 3px;
    display: none;
    margin: 8px 5px 0px 0px;
}

.chat-theme-dark .download-btn-styling {
    background: #27ab45;
    color: black;
    padding: 7px;
    border-radius: 3px;
    display: none;
    margin: 8px 5px 0px 0px;
}

.chat-image-view:hover .download-btn-styling {
    display: block;
}

.chat-files:hover .download-btn-styling {
    display: block;
}

.chat-theme-light .go-to-bottom-btn {
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white !important;
    border: none;
    position: absolute;
    top: -48%;
    right: 0px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    display: none;
}

.chat-theme-dark .go-to-bottom-btn {
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white !important;
    border: none;
    position: absolute;
    top: -48%;
    right: 0px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    display: none;
}

.chat-theme-dark .chat-preview-btn {
    position: absolute;
    top: 30%;
    right: 60px;
    color: #868686 !important;
}

.chat-theme-light .chat-preview-btn {
    position: absolute;
    top: 30%;
    right: 60px;
    color: #414141 !important;
}

.chat-theme-dark .chat-preview-btn:hover {
    color: #5a5a5a !important;
}

.chat-theme-light .chat-preview-btn:hover {
    color: #303030 !important;
}

.chat-theme-dark .chat-time {
    color: #d8d8d8 !important;
}

.chat-theme-light .new-msg-rcv {
    font-weight: 1000 !important;
    color: #383f45 !important;
}

.chat-theme-dark .new-msg-rcv {
    font-weight: 1000 !important;
    color: #ffffff !important;
}

.chat-theme-light .chat-bg {
    background-image: url(./../img/bg-chat.jpg) !important;
}

.chat-theme-light .text-successg {
    color: #39e500 !important;
}

.chat-theme-dark .chat-bg {
    background-color: #303335 !important;
}

.chat-theme-dark .text-success {
    color: #39e500 !important;
}

.chat-theme-dark .chat-search-box {
    background-color: #1a1d21 !important;
    border: 1px solid #a6a7ab !important;
    border-radius: 0.25rem !important;
    margin-right: 8px !important;
    height: 30px !important;
    width: -webkit-fill-available;
}

.chat-theme-dark .chat-search-box:hover {
    background-color: #363b42 !important;
    border: 1px solid #c9cacc !important;
}

.chat-theme-dark .chat-search-box:focus {
    background-color: #363b42 !important;
    border: 1px solid #c9cacc !important;
    color: #c9cacc !important;
}

.chat-theme-light .chat-search-box {
    border-radius: 0.25rem !important;
    margin-right: 8px !important;
    height: 30px !important;
    width: -webkit-fill-available;
}

.chat-theme-light .chat-search-box:hover {
    background-color: #f2f2f7;
    border-color: #d9dae4;
}

.chat-theme-dark .chat-search-btn {
    background-color: #1a1d21 !important;
    border-color: #a6a7ab !important;
}

.chat-scroll {
    overflow: auto !important;
    outline: none !important;
}

.chat-theme-dark .active {
    font-weight: 700 !important;
    background: #3abaf4;
    padding: 3px 15px;
    color: #fffdf9 !important;
}

.chat-theme-dark .active:hover {
    background: #3abaf4 !important;
    color: #fffdf9 !important;
}

.chat-theme-light .active {
    font-weight: 700 !important;
    background: #3abaf4;
    padding: 3px 15px;
    color: #fffdf9 !important;
}

.chat-theme-light .active:hover {
    background: #3abaf4 !important;
    color: #fffdf9 !important;
}

.chat-theme-dark .chat-person {
    font-weight: 700;
    color: #ababab;
    padding: 3px 15px;
}

.chat-theme-dark code {
    background: #e8e8e8;
    padding: 6px 8px;
    border-radius: 4px;
}

.chat-theme-light code {
    background: #e8e8e8;
    padding: 6px 8px;
    border-radius: 4px;
}

.chat-theme-dark .chat-person:hover {
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.chat-theme-light .chat-person {
    font-weight: 700;
    color: #4f5961;
    padding: 3px 15px;
}

.chat-theme-light .chat-person:hover {
    background: #ffffff;
    cursor: pointer;
}

.chat-theme-dark .text-color {
    color: #ababab !important;
}

.chat-theme-light .text-color {
    color: #383f45 !important;
}

.chat-theme-dark .text-color h4 {
    color: #ababab !important;
}

.chat-theme-light .text-color h4 {
    color: #383f45 !important;
}

.chat-theme-dark .theme-inputs {
    background-color: #1a1d21 !important;
    border: 1px solid #a6a7ab !important;
    border-radius: 6px !important;
    color: #c9cacc !important;
    height: auto !important;
    white-space: pre-wrap !important;
}

.chat-theme-light .theme-inputs {
    border: 1px solid #383f45 !important;
    border-radius: 6px !important;
    height: auto !important;
    white-space: pre-wrap !important;
}


@media (max-width: 580px) {
    .card-view-value .media {
        margin: 5px;
    }

    .card-view-value .media .media-items .media-item {
        padding: 0px 0px 0px 5px;
    }
}

.codeeditor {
    min-height: 300px;
}

.timer {
    position: relative;
}

.internal-section {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    padding: 1rem;
    cursor: pointer;
    border-color: #e3eaef !important;
    background-color: rgb(255, 255, 255);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.5s;
    box-shadow: 0 5px #999;
}

.internal-section:hover {
    transform: translateY(10%);
}

.internal-section:active {
    /* background-color: #3e8e41; */
    box-shadow: none !important;
    /* transform: translateY(4px); */
}

.colon {
    margin-top: 11px;
    width: 10rem !important;
    font-weight: 900 !important;
    font-size: 25px !important;
}

.timer-img {
    width: 50px !important;
    border-radius: 50px;
}

.btn-golden {
    background-color: goldenrod !important;
}

.text-golden {
    color: goldenrod;
    cursor: pointer;
}

.icon-style {
    color: yellow;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: orange;
    font-size: 10px !important;
}

.stopwatch {
    margin: 15;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 1em;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    color: #6c757d;
    font-family: sans-serif;
}

.stopwatch_time {
    text-align: center;
    background: #6c757d;
    border-radius: 5px;
}

.stopwatch_time_input {
    padding: 1em !important;
    text-align: center !important;
    border-radius: 5px !important;
    border-color: #6c757d !important;
    background: #6c757d !important;
    color: #ffffff !important;
    padding: 0.5em 0 !important;
    font-size: 3em !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    font-weight: bold;
}

.stopwatch_time_lable {
    font-size: 1.2em;
    padding-bottom: 1em;
    font-weight: bold;
    color: #ffffff;
}

.stopwatch-buttons {
    display: block;
    border: 4px solid;
    color: #ffffff !important;
    background: #181e4b !important;
    border-radius: 50% !important;
}

#start[disabled],
#end[disabled],
#pause[disabled] {
    background: none !important;
    color: var(--gray) !important;
}

#start,
#end,
#pause {
    background: var(--blue);
    color: var(--white);
}

#start:hover,
#end:hover,
#pause:hover {
    opacity: 0.8;
}

.todo-dragger {
    width: 15px;
    height: 27px;
    position: absolute;
    z-index: 50;
}

.dragger {
    cursor: pointer;
    background: url(../img/dragger.png) 0px 4px no-repeat;
}

.dragger:active,
.grabber:active {
    cursor: grabbing;
}

.grabber {
    cursor: pointer;
}

/* 1.37 contracts */
.contracts {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    padding: 40px;
}

.test-data {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.max-width {
    width: max-content !important;
}

.owl-carousel {
    display: block !important;
    width: 100% !important;
    z-index: 1 !important
}

/* task custom class */
.gantt-target .bar-milestone .bar {
    fill: tomato;
}

/* bar collapsed */
.parent>.bar-group>.bar {
    outline: outset 1px var(--bs-primary);
    border-radius: 2px;
    outline-offset: 2px;
}

.gantt-target .details-container {
    padding: 0px 12px;
}

horizontal-scroll-cards {
    overflow-x: auto;
    overflow-y: hidden;
}

.horizontal-scroll-cards::-webkit-scrollbar {
    height: 6px;
    opacity: 0;
}

.horizontal-scroll-cards::-webkit-scrollbar:hover {
    opacity: 1;
}

.horizontal-scroll-cards::-webkit-scrollbar-track {
    background: transparent;
}

.horizontal-scroll-cards::-webkit-scrollbar-thumb {
    background: #b8b7bd;
}

.horizontal-scroll-cards::-webkit-scrollbar-thumb:hover {
    background: 1px solid rgb(49, 47, 47);
}


.filepond--item {
    display: flex;
    width: 220px;
    padding: 0px 15px;
    min-height: 260px;
    margin-bottom: 15px;
}

.file-upload-section {
    height: 500px;
    border-radius: 4px;
    background: var(--body-background);
    border: 2px dashed var(--bs-border-color);
}

.filepond--panel-root {
    background-color: whitesmoke !important;
}

.store-image-container {
    height: 140px !important;
    width: 230px !important;
    padding: 8px !important;
}

.store-image-container .image-upload-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.store-image-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.profile-image {
    height: 8rem !important;
    width: 8rem !important;
}

#tolist {
    height: 550px;
    overflow: scroll;
}

.profile-table {
    line-height: 40px;
    font-size: 16px;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu>li.active>a {
    background-color: #e5f2ff;
    
}

.menuSearch {
    border-color: #a5a4ff !important;
}

.menuSearch:focus {
    border-color: #a5a4ff !important;
}